// Color variables
$color-pink: #ff4f81;
$color-gray-1: #999;
$color-gray-2: #8b8b96;
$color-white: #fff;
$color-black-1: #000000;
$color-black-2: #333;

// padding
$pd-0_4: 0.4rem;
$pd-0_5: 0.5rem;
$pd-0_6: 0.6rem;
$pd-0_7: 0.7rem;
$pd-0_8: 0.8rem;
$pd-0_9: 0.9rem;
$pd-1: 1rem;
$pd-2: 2rem;
$pd-3: 3rem;
$pd-4: 4rem;

// margin
$mg-5: 5rem;

// fontsize
$fs-0_5: 0.5rem;
$fs-0_7: 0.7rem;
$fs-0_8: 0.8rem;
$fs-0_9: 0.9rem;
$fs-1: 1rem;
$fs-1_5: 1.5rem;
$fs-1_8: 1.8rem;
$fs-2: 2rem;
$fs-2_2: 2.2rem;
$fs-3: 3rem;


// fontweight
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-9: 900;


// letter spacing
$letter-spacing-1: 1px;
$letter-spacing-2: 2px;
$letter-spacing-3: 3px;

// transittion
$transition-0: all 0.5s;

// border
$border-0: 1px solid $color-white;